<div
  class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2 lg:grid-cols-4 pt-10"
>
  <div
    *ngFor="let x of shimmer"
    class="flex flex-col bg-gray-500 min-h-[480px] px-8"
  >
    <div class="flex-grow my-4">
      <div
        class="shimmer rounded-lg mt-5 mb-14 h-64 opacity-80 bg-gray-700"
      ></div>
      <div
        class="shimmer w-[30%] rounded-lg opacity-80 mb-3 h-5 bg-gray-700"
      ></div>
      <div class="shimmer rounded-lg mb-3 h-6 opacity-80 bg-gray-700"></div>
      <div class="shimmer rounded-lg mb-3 h-6 opacity-80 bg-gray-700"></div>
    </div>
  </div>
</div>
