<!-- src/app/navbar/navbar.component.html -->
<nav class="bg-gray-900 shadow-lg p-4 fixed z-10 top-0 left-0 w-screen">
  <div class="container mx-auto">
    <div class="flex justify-between items-center">
      <div class="text-white font-bold text-xl">Book Store</div>
      <ul class="hidden md:flex space-x-4">
        <!-- hide the links on small screens (up to medium) -->
        <li class="mt-1">
          <a routerLink="/" class="text-white hover:text-gray-200">HOME</a>
        </li>
        <li
          class="mt-1"
          *ngFor="let menu of (user | async) ? loginMenu : logoutMenu"
        >
          <a [routerLink]="menu.route" class="text-white hover:text-gray-200">{{
            menu.name | uppercase
          }}</a>
        </li>
        <li>
          <button
            (click)="onLogout()"
            *ngIf="user | async"
            class="text-white bg-red-500 px-3 py-1 rounded hover:text-gray-200"
          >
            Logout
          </button>
        </li>
      </ul>
      <!-- Mobile menu button -->
      <button (click)="navbar = !navbar" class="md:hidden text-white">
        <svg
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </button>
    </div>
    <!-- Mobile menu -->
    <div [class.hidden]="!navbar" class="md:hidden transition-transform mt-4">
      <!-- show the mobile menu on small screens (up to medium) -->
      <ul class="bg-gray-800 text-center rounded p-2 space-y-2">
        <li (click)="navbar = false">
          <a routerLink="/" class="text-white hover:text-gray-200">HOME</a>
        </li>
        <li
          (click)="navbar = false"
          *ngFor="let menu of (user | async) ? loginMenu : logoutMenu"
        >
          <a
            [routerLink]="menu.route"
            class="block text-white hover:text-gray-200"
            >{{ menu.name | uppercase }}</a
          >
        </li>
        <li (click)="navbar = false">
          <button
            *ngIf="user | async"
            (click)="onLogout()"
            class="text-white w-full bg-red-500 px-3 py-1 rounded hover:text-gray-200"
          >
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
